# job walltime
CFG_WALLTIME=01:00:00
# Note that EMEWS / Swift-t require two processes, so 
# the number of workers available to perform the 
# polaris runs is CFG_PROCS - 2.
# number of processes to use
CFG_PROCS=8
# number of processes per node
CFG_PPN=2
# name of queue to use
CFG_QUEUE=bdwall
# project id
CFG_PROJECT=<MyProject>
# workflow parameters file, specifies settings, config etc. files
CFG_ALGO_PARAMS=$EMEWS_PROJECT_ROOT/data/algo_params/test_params.json
# site specific setup file
CFG_SITE_FILE=$EMEWS_PROJECT_ROOT/swift/cfgs/bebop_site.sh